        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');
        * {
            font-family: 'Roboto', sans-serif;
            /* font-family: 'Roboto Condensed', sans-serif; */
            margin: 0;
            padding: 0;
        }
        
        header {
            height: 60px;
            background-color: white;
            padding: 8 0 0 0;
            width: 100%;
            font-size: 0.8em;
            font-weight: 500;
            letter-spacing: 0.1em;
            font-family: 'Roboto Mono', monospace;
        }
        
        header ul {
            width: 100%;
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: center;
        }
        
        header ul li {
            list-style: none;
            display: inline-block;
            cursor: pointer;
            width: 10%;
            padding-top: 8px;
            text-decoration: none;
            font-weight: 600px;
            font-size: 1em;
            color: rgb(14, 24, 112);
        }
        
        .header ul li a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            position: relative;
            transition: background-color 0.5 ease;
        }
        
        header ul img {
            width: 5%;
            float: left;
            padding-left: 3em;
            padding-top: 0.5em;
        }
        
        header ul #getQuote {
            background-color: rgb(247, 189, 17);
            color: white;
            border-style: none;
            width: 90%;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        
        header ul #sign-in {
            background-color: rgb(0, 0, 0);
            color: white;
            border-style: none;
            width: 50%;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        /*main Dis Section*/
        
        .container {
            width: 100%;
            /* max-width: 1000px; */
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .container .left {
            width: 25%;
            min-height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            z-index: 1;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .container .left .des-container .main-t {
            font-family: 'Roboto Mono', monospace;
            font-size: 0.9em;
            padding-bottom: 1em;
            font-weight: 500;
        }
        
        .container .left .des-container .sum-m {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2em;
            padding-bottom: 0.2em;
            letter-spacing: 0.05em;
        }
        
        .container .left .des-container .sub-sub {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.5em;
            font-weight: 700;
            color: rgb(247, 189, 17);
        }
        
        .container .left .des-container p {
            font-family: 'Roboto', sans-serif;
            font-size: 0.8em;
            font-weight: 500;
            padding-top: 1em;
            width: 50%;
            padding-bottom: 2em;
        }
        
        .container .left .des-container .discover-more button {
            background-color: rgb(247, 189, 17);
            color: white;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-family: 'Roboto Mono', monospace;
            font-weight: 500;
            border-style: none;
            width: 34%;
        }
        
        .container .right {
            width: 70%;
            height: 600px;
            display: flex;
            margin-left: -100px;
            background-image: url(./img/img_01.png);
            background-repeat: no-repeat;
            position: center;
            background-size: cover;
        }
        
        .forward-backward {
            width: 100%;
            align-items: center;
            justify-content: start;
        }
        
        .forward-backward button {
            background-color: rgb(247, 189, 17);
            color: white;
            font-size: 1em;
            font-weight: 500;
            width: 10%;
            border-style: none;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top: -8em;
            margin-left: 20px;
        }
        /*More location Details*/
        
        .container-secondSec {
            width: 100%;
            margin-top: 5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .container-secondSec .left {
            width: 55%;
            height: 700px;
            display: flex;
            margin-left: -100px;
            background-image: url(./img/secondImgSection.png);
            background-repeat: no-repeat;
            position: center;
            background-size: cover;
        }
        
        .container-secondSec .right {
            width: 25%;
            min-height: 400px;
            align-items: center;
            justify-content: center;
            padding: 20px;
            z-index: 1;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .container-secondSec .right .main-t {
            font-family: 'Roboto', sans-serif;
            font-size: 2em;
            padding-bottom: 1em;
            font-weight: 500;
        }
        
        .container-secondSec .right .sub-t {
            font-family: 'Roboto', sans-serif;
            font-size: 2em;
            padding-bottom: 1em;
            font-weight: 500;
        }
        
        .container-secondSec .right p {
            width: 70%;
            font-family: 'Roboto', sans-serif;
            font-size: 0.8em;
            padding-bottom: 2.5em;
        }
        
        .container-secondSec .right button {
            background-color: rgb(229, 229, 229);
            color: rgb(2, 75, 90);
            font-weight: 500;
            font-family: 'Roboto Mono', sans-serif;
            font-size: 0.8em;
            width: 40%;
            border-style: none;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        
        .real-sol {
            font-size: 1em;
            font-weight: 500;
            color: rgb(247, 189, 17);
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 6em;
            padding-bottom: 0.3em;
        }
        
        .bestGlobal {
            font-size: 2em;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            text-align: center;
            padding-bottom: 1em;
        }
        /*----------------------Solutions Section-----------------------------------------*/
        
        .third-section {
            width: 96%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4em;
        }
        
        .third-section .containerService-01 {
            width: 50%;
            display: flex;
        }
        
        .third-section .containerService-01 .left {
            background-image: url(./img/ship_1.png);
            width: 45%;
            height: 320px;
            display: flex;
            z-index: 1;
            background-repeat: no-repeat;
            position: center;
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .third-section .containerService-01 .right {
            width: 30%;
            min-height: 200px;
            align-items: center;
            justify-content: center;
            padding: 20px;
            z-index: 1;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .third-section .tittle {
            font-size: 1.3em;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            margin-bottom: 1.5em;
        }
        
        .third-section .paragraph {
            font-size: 0.8em;
            font-weight: 500;
            width: 70%;
            font-family: 'Roboto', sans-serif;
            color: rgb(121, 117, 117);
        }
        
        .third-section .read-more {
            margin-top: 3em;
            font-size: 0.8em;
            font-weight: 500;
        }
        
        .third-section .read-more button {
            border-radius: 100%;
            border-style: none;
            background-color: black;
            color: white;
            font-weight: 500;
            padding-left: 0.2em;
            padding-right: 0.2em;
            padding-bottom: 0.1em;
        }
        
        .third-section .containerService-02 {
            width: 50%;
            display: flex;
        }
        
        .third-section .containerService-02 .left {
            background-image: url(./img/plane_01.png);
            width: 45%;
            height: 320px;
            display: flex;
            z-index: 1;
            background-repeat: no-repeat;
            position: center;
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .third-section .containerService-02 .right {
            width: 30%;
            min-height: 200px;
            align-items: center;
            justify-content: center;
            padding: 20px;
            z-index: 1;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        /*Section 04*/
        
        .section-04 {
            display: flex;
            margin-top: 5em;
            margin-bottom: 5em;
        }
        
        .section-04 .containerSec-04 {
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 90%;
        }
        
        .section-04 .containerSec-04 .left {
            font-size: 8em;
            letter-spacing: 2%;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        
        .section-04 .containerSec-04 .right {
            display: flex;
            width: 98%;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: -100px;
        }
        
        .section-04 .containerSec-04 .right .amount {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.5em;
            font-weight: bold;
            color: rgb(2, 75, 90);
        }
        
        .section-04 .containerSec-04 .right .dis01 {
            font-family: 'Roboto', sans-serif;
            font-size: 1em;
            width: 25%;
            font-weight: 500;
            color: rgb(2, 75, 90);
        }
        /*Section 05*/
        
        .section-05 {
            width: 95%;
            align-items: center;
            justify-content: center;
        }
        
        .section-05 .containerSec-05 .main-t {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.2em;
            letter-spacing: 2%;
            font-weight: 600;
        }
        
        .section-05 .containerSec-05 .sub-t {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 0.9em;
            font-weight: 400;
            color: rgb(121, 117, 117);
        }
        
        .section-05 .containerSec-05 .left img {
            width: 40%;
        }